[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
pydantic = "*"
pydantic-settings = "*"
django-cors-headers = "*"
git-filter-repo = "*"
moviepy = "*"
speechrecognition = "*"
ez-setup = "*"
pillow = "*"
dj-database-url = "*"
psycopg2-binary = "*"
openai-whisper = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"
